/* ---------------------------------------- General */
html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #131967;
}

a {
    text-decoration: none;
}

main a {
    font-weight: 500;
    color: inherit;
    text-decoration: underline #ff00ff double;
}

main a:hover, main a:focus {
    font-weight: 600;
    color: inherit;
}

h2 {
    font-weight: 700;
    font-size: 2.2rem;
}

/* ---------------------------------------- Header */
.navbar {
    background-color: #131967;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
}

/* font color for header items */
.navbar .logo, .nav-link {
    color: #FF00FF;
}

.nav-link:focus, .nav-link:hover {
    color: #fff;
}

/* remove border from Bootstrap menu icon */
.navbar-toggler {
    border: 0;
}

/* amend color of Bootstrap navbar icon svg image */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* amend thickness and color of stroke around active nav icon */
.navbar-toggler:focus {
    box-shadow: 0 0 0 .1rem;
    color: #FF00FF;
}

/* ---------------------------------------- Home page */
.hero-image {
	background-image: url(../images/woman-files-computer-hero.png);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    transition: all .5s ease-in-out;
    margin: 0;
    padding: 0;
}

/* overlay on hero-image behind the callout text */
.overlay {
    background-color: rgba(50, 44, 83, 0.6);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.callout {
    font-weight: 500;
    color: #020638;
}

.callout h1 {
    font-weight: 700;
    color: white;
}

.btn-callout {
    background-color: #ff00ff;
    color: #131967;
}

.btn-callout:hover, .btn-callout:focus {
    color: white;
}

.home-bg {
    background-color: #facdd7;
}

.intro-icon {
    font-size: 4rem;
}

.details-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.details-icon {
    font-size: 2rem;
    color: #ff00ff;
}

/* ---------------------------------------- Footer */
/* 
sticky with 100vh combined with 100% on body and html for sticky footer 
from: https://css-tricks.com/a-clever-sticky-footer-technique/
*/
footer {
    background-color: #020638;
    color: #FAF9F6;
    font-size: 0.9rem;
    line-height: 1.5rem;
    position: sticky;
    top: 100vh;
}

.sm-heading {
    color: #FF00FF;
    font-weight: 600;
    font-size: 1rem;
}

.footer-link {
    color: #FAF9F6;
}

.footer-link:hover, .footer-link:active {
    color: #ff00ff;
    text-decoration: underline;
}

footer i {
    font-size: 1.2rem;
}

.footnote {
    font-size: 0.8rem;
    font-weight: 300;
}