/* ---------------------------------------- General */
html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #131967;
}

/* remove default focus outline and replace with brand colour border */
:focus {
	outline: none;
	border: 0.1rem solid #ff00ff;
}

/* add back outline for form checkbox as border doesn't work with checkbox */
input[type="checkbox"]:focus {
	outline: 0.05rem solid #ff00ff;
}

a {
    text-decoration: none;
}

main a {
    font-weight: 500;
    color: inherit;
    text-decoration: underline #ff00ff double;
}

main a:hover, main a:focus {
    font-weight: 600;
    color: inherit;
}

/* base styles for buttons (and links styled as buttons) */
.btn-brand {
    background-color: #ff00ff;
    border-radius: 0.1rem;
    color: #131967;
}

.btn-brand-dark {
    background-color: #131967;
    border-radius: 0.1rem;
    color: #ff00ff;
}

.btn:hover, .btn:focus, .btn:active {
    color: white;
}

/* button with icon and text */
.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* icon inside buttons */
.icon-btn {
    font-size: 2rem;
    margin-right: 0.5rem;
}

/* smaller icon inside buttons */
.icon-btn-sm {
    font-size: 1.2rem;
    margin-right: 0.6rem;
}

h2 {
    font-weight: 700;
    font-size: 2.2rem;
}

h1 {
    font-weight: 700;
}

/* ---------------------------------------- Header */
.navbar {
    background-color: #131967;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
}

.logo-light {
    font-weight: 300;
}

/* font color for header items */
.navbar .logo, .nav-link {
    color: #FF00FF;
}

.nav-link:focus, .nav-link:hover {
    color: #fff;
}

/* remove border from Bootstrap menu icon */
.navbar-toggler {
    border: 0;
}

/* amend color of Bootstrap navbar icon svg image */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* amend thickness and color of stroke around active nav icon */
.navbar-toggler:focus {
    box-shadow: 0 0 0 .1rem;
    color: #FF00FF;
}

/* user name in header */
.logged-in {
    color: #FAF9F6;
}

/* ---------------------------------------- Home page */
.hero-image {
	background-image: url(../images/woman-files-computer-hero.png);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    transition: all .5s ease-in-out;
    margin: 0;
    padding: 0;
}

/* overlay on hero-image behind the callout text */
.overlay {
    background-color: rgba(50, 44, 83, 0.7);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* subheading text */
.callout {
    font-weight: 600;
}

.highlight {
    background-color: #FAF9F6;
}

/* headline text */
.callout h1 {
    font-weight: 700;
    color: #FAF9F6;
}

.btn-callout {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    display: inline-block;
    margin-top: 1rem;
}

.btn-callout:hover, .btn-callout:focus {
    color: white;
}

.home-bg {
    background-color: #facdd7;
}

.intro-icon {
    font-size: 4rem;
}

.details-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.details-icon {
    font-size: 2rem;
    color: #ff00ff;
}

/* ---------------------------------------- Jobs/Pensions pages */

/* styles for the cards displaying the Jobs/Pension details in Jobs/Pensions list */

/* over-ride Bootstrap border color + radius */
.card {
    border-color: rgba(19,25,103, 0.2);
    border-radius: .1rem;
}

/* font style and border bottom for card titles */
.card-title {
    padding-bottom: 1rem;
    border-bottom: 0.1rem dotted #131967;
}

.card-label {
    font-weight: 500;
    margin-right: 0.5rem;
}

/* small icons inside the cards beside labels */
.card-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #ff00ff;
}

/* over-ride Bootstrap border color */
.card-footer {
    background-color: #fff;
    border: none;
    margin-bottom: 0.5rem;
}

/* buttons inside the cards */
.btn-card {
    font-size: .9rem;
    margin: 0 0.1rem;
}

/* ----------- Create, Edit forms on Jobs/Pensions pages */

/* submit/cancel buttons/links in the forms */
.btn-form {
    width: 45%;
}

/* dropdown box - apply same styles as rest of form inputs */
.user-form select {
    display: block;
	border: 0.05rem solid #131967;
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
    color: #131967;
}

/* django helptext, display block so can use neg margin, bring closer to input above it */
.helptext {
    font-size: 85%;
    display: block;
    margin-top: -0.4rem;
}

/* .user-form option {
    color: #131967;
} */

/* ---------------------------------------- AllAuth Forms */
/* heavier font-weight for labels */
label {
    font-weight: 500;
}

/* display input fields full width and underneath labels, brand color border */
input:not([type="checkbox"]) {
	display: block;
	border: 0.05rem solid #131967;
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

/* full width button to match width of inputs */
form button {
    width: 100%;
}

input:hover, input:focus, input:active {
    border: 0.05rem solid #ff00ff;
}

/* submit button - colour + override box-shadow when button is focused */
.btn-check:focus+.btn, .btn:focus {
    border: none;
    background-color: #131967;
    box-shadow: none;
}

/* ---------------------------------------- Footer */
/* 
sticky with 100vh combined with 100% on body and html for sticky footer 
from: https://css-tricks.com/a-clever-sticky-footer-technique/
*/
footer {
    background-color: #020638;
    color: #FAF9F6;
    font-size: 0.9rem;
    line-height: 1.5rem;
    position: sticky;
    top: 100vh;
}

.sm-heading {
    color: #FF00FF;
    font-weight: 600;
    font-size: 1rem;
}

.footer-link {
    color: #FAF9F6;
}

.footer-link:hover, .footer-link:active {
    color: #ff00ff;
    text-decoration: underline;
}

footer i {
    font-size: 1.2rem;
}

.footnote {
    font-size: 0.8rem;
    font-weight: 300;
}