/* ---------------------------------------- General */
html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #131967;
}

/* remove default focus outline and replace with brand colour border */
:focus {
	outline: none;
	border: 0.1rem solid #ff00ff;
}

/* add back outline for form checkbox as border doesn't work with checkbox */
input[type="checkbox"]:focus {
	outline: 0.05rem solid #ff00ff;
}

a {
    text-decoration: none;
}

main a {
    color: inherit;
    border-bottom: 0.125rem solid #ff00ff;
}

main a:hover, main a:focus {
    font-weight: 600;
    color: inherit;
}

/* base styles for buttons (and links styled as buttons) */
.btn-brand {
    background-color: #ff00ff;
    border-radius: 0.1rem;
    color: #131967;
}

.btn-brand-dark {
    background-color: #131967;
    border-radius: 0.1rem;
    color: #ff00ff;
}

.btn:hover, .btn:focus, .btn:active {
    color: white;
}

/* button with icon and text */
.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove border from secondary buttons (Bootstrap class) */
.btn-secondary {
    border: none;
}

/* icon inside buttons */
.icon-btn {
    font-size: 2rem;
    margin-right: 0.5rem;
}

/* smaller icon inside buttons */
.icon-btn-sm {
    font-size: 1.2rem;
    margin-right: 0.6rem;
}

h2 {
    font-weight: 700;
    font-size: 2.2rem;
}

h1 {
    font-weight: 700;
}

/* amend default bootstrap styles for element displaying flash messages */
.alert {
    background-color: #fff;
    color: #131967;
    border-radius: 0.05rem;
    border: 1px solid #FF00FF;
}

/* ---------------------------------------- Header */
.navbar {
    background-color: #131967;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
}

.logo-light {
    font-weight: 300;
}

/* font color for header items */
.navbar .logo, .nav-link {
    color: #FF00FF;
}

.nav-link:focus, .nav-link:hover {
    color: #fff;
}

/* remove border from Bootstrap menu icon */
.navbar-toggler {
    border: 0;
}

/* amend color of Bootstrap navbar icon svg image */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* amend thickness and color of stroke around active nav icon */
.navbar-toggler:focus {
    box-shadow: 0 0 0 .1rem;
    color: #FF00FF;
}

/* user name in header */
.logged-in {
    color: #FAF9F6;
}

/* active pages in main header */
.active-main {
    border: 0.01rem solid #ff00ff;
    border-bottom: 0.4rem solid #ff00ff;
}

/* ---------------------------------------- Home page */
.hero-image {
	background-image: url(https://res.cloudinary.com/fionat/image/upload/v1638358373/static/images/woman-files-computer-hero.45d86ca297b5.png);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    transition: all .5s ease-in-out;
    margin: 0;
    padding: 0;
}

/* overlay on hero-image behind the callout text */
.overlay {
    background-color: rgba(50, 44, 83, 0.7);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* subheading text */
.callout {
    font-weight: 600;
}

.highlight {
    background-color: #FAF9F6;
}

/* headline text */
.callout h1 {
    font-weight: 700;
    color: #FAF9F6;
}

.btn-callout {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    display: inline-block;
    margin-top: 1rem;
}

.btn-callout:hover, .btn-callout:focus {
    color: white;
}

.home-bg {
    background-color: #facdd7;
}

.intro-icon {
    font-size: 4rem;
}

.details-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.details-icon {
    font-size: 2rem;
    color: #ff00ff;
}

/* ---------------------------------------- Jobs/Pensions pages */

/* ----------- Breadcrumb navigation */
.breadcrumb-item a {
    text-decoration: none;
}

/* change the Bootstrap default divider between items */
.breadcrumb-item+.breadcrumb-item::before {
    color: #ff00ff;
    content: var(--bs-breadcrumb-divider, ">");
}

/* change the Bootstrap default active item colour */
.breadcrumb-item.active {
    color: #131967;
}

/* margin top for when breadcrumb nav gets split over more than one line on smaller screen*/
.breadcrumb-item {
    font-size: 88%;
    margin-top: 0.4rem;
}

/* ----------- cards in Jobs/Pensions list */

/* over-ride Bootstrap border color + radius */
.card {
    border-radius: .1rem;
    border-color: #ff00ff;
}

/* font style and border bottom for card titles */
.card-title {
    padding-bottom: 1rem;
    border-bottom: 0.1rem dotted #131967;
}

.card-label {
    font-weight: 500;
    margin-right: 0.5rem;
}

/* small icons inside the cards beside labels */
.card-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #ff00ff;
}

/* over-ride Bootstrap border color */
.card-footer {
    background-color: #fff;
    border: none;
    margin-bottom: 0.5rem;
}

/* buttons inside the cards */
.btn-card {
    font-size: .9rem;
    margin: 0 0.1rem;
    width: 45%;
    background-color: #fff;
    border: 0.1rem solid #131967;
}

/* full witdth button inside cards */
.btn-card-full {
    width: 100%;
}

/* hover style for buttons in cards */
.btn-card:hover, .btn-card:focus, .btn-card:active {
    background-color: #131967;
}

/* ----------- Pagination for Jobs/Pensions list */
/* over-ride colours of Bootstrap class */
.page-link {
    color: #131967;
    background-color: #fff;
    border: 1px solid #131967;
}

/* set hover and focus colours on Bootstrap class */
.page-link:hover {
    color: #020638;
    background-color: #ff00ff;
}

.page-link:focus {
    color: #020638;
    background-color: #ff00ff;
}

/* set different colour for current page number, remove hover colour */
.current-page {
    border-color: #ff00ff;
}

/* keep same colors on hover as this is current page so doesn't change the page */
.current-page:hover {
    background-color: #fff;
    border-color: #ff00ff;
}

/* ----------- Create, Edit forms on Jobs/Pensions pages */
/* submit/cancel buttons/links in the forms */
.btn-form {
    width: 45%;
}

/* dropdown box - apply same styles as rest of form inputs */
.user-form select {
    display: block;
	border: 0.05rem solid #131967;
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
    color: #131967;
}

/* django helptext, display block so can use neg margin, bring closer to input above it */
.helptext {
    font-size: 85%;
    display: block;
    margin-top: -0.4rem;
}

/* restrict width of textarea on form, disable resize */
.user-form textarea {
    display: block;
    width: 100%;
    resize: none;
}

.user-form input[type="checkbox"] {
    display: inline;
}

/* labels for the above inputs, display inline so checkbox on same line as input */
label[for="id_pao"], label[for="id_director"] {
    display: inline;
}

/* add an asterisk after the label for the required input */
label.required-label::after {
    content: "*";
    color: #ff00ff;
    font-size: 150%;
}

/* colour of asterisk that is shown above the form - increased font-size for accessibility */
.required-indicator {
    color: #ff00ff;
    font-size: 150%;
}

/* styles for ul containing Django form error messages */
.errorlist {
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}

/* set position relative on list items so ::before can be positioned against it */
.errorlist li {
    position: relative;
    padding-left: 1.5rem;
}

/* add warning symbol before each error list item */
.errorlist li::before {
    content: "\26A0";
    color: #FF00FF;
    padding-right: 0.2rem;
    font-weight: lighter;
    position: absolute;
    top: 0;
    left: 0;
}

/* ----------- Delete Job/Pension modal */

/* amend Bootstrap default border radius */
.modal-content {
    border-radius: 0.1rem;
}

/* amend Bootstrap default border radius, add brand color */
.modal-header {
    border-radius: 0.1rem;
    background: #ff00ff;
    padding: 1rem 1.5rem;
}

/* adjust Bootstrap default padding */
.modal-body {
    padding: 1.5rem;
}

/* details of the records being deleted - smaller font */
.modal-details {
    font-size: 90%;
    margin-bottom: 1rem;
}

.modal-details p {
    margin-bottom: 0.3rem;
}

/* remove Bootstrap default border, adjust padding */
.modal-footer {
    border: none;
    padding-top: 0;
    padding-bottom: 1.5rem;
}

/* ---------------------------------------- AllAuth Forms */
/* heavier font-weight for labels */
label {
    font-weight: 500;
}

/* display input fields full width and underneath labels, brand color border */
input:not([type="checkbox"]) {
	display: block;
	border: 0.05rem solid #131967;
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

/* full width button to match width of inputs */
form button {
    width: 100%;
}

input:hover, input:focus, input:active {
    border: 0.05rem solid #ff00ff;
}

/* submit button - colour + override box-shadow when button is focused */
.btn-check:focus+.btn, .btn:focus {
    border: none;
    background-color: #131967;
    box-shadow: none;
}

/* ---------------------------------------- Footer */
/* 
sticky with 100vh combined with 100% on body and html for sticky footer 
from: https://css-tricks.com/a-clever-sticky-footer-technique/
*/
footer {
    background-color: #020638;
    color: #FAF9F6;
    font-size: 0.9rem;
    line-height: 1.5rem;
    position: sticky;
    top: 100vh;
}

.sm-heading {
    color: #FF00FF;
    font-weight: 600;
    font-size: 1rem;
}

.footer-link {
    color: #FAF9F6;
}

.footer-link:hover, .footer-link:active {
    color: #ff00ff;
    text-decoration: underline;
}

footer i {
    font-size: 1.2rem;
}

.footnote {
    font-size: 0.8rem;
    font-weight: 300;
}