{% extends "base.html" %}

{% block content %}
<!--container with one row. Msg to user re page not found, and links for main website sections -->
<div class="container py-5 px-4">
    <div class="row py-5">
        <section>
            <h1 class="mb-4">Page not Found!</h1>
            <p>Sorry, the page you were looking for can't be accessed.</p>
            <p>The url might have a typo, or might not exist, or you might not have the required permissions for that
                page.</p>
            <h3>Find your way back:</h3>
            <p>You can go to can go to <a href="{% url 'home' %}">our home page</a>, or if you have an account with us
                then you can go to the <a href="{% url 'my_jobs' %}">My Jobs page</a> or the <a
                    href="{% url 'my_pensions' %}">My Pensions page</a>.</p>
            <p>If you don't have an account with us, you can <a href="{% url 'account_signup' %}">sign up for an
                    account</a>.</p>
        </section>
    </div>
</div>
{% endblock %}