{% extends "base.html" %}

{% block content %}
<!-- container for page contents -->
    <div class="container py-5 px-4">
        <!--Breadcrumb navigation-->
        <div class="row pt-5">
            <nav aria-label="Breadcrumb navigation">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_pensions' %}">My Pensions</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Add Pension</li>
                </ul>
            </nav>
        </div>
        <!-- row with one column -->
        <div class="row py-5">
            <div class="col-12 col-sm-8 col-lg-6 mx-auto pt-2">
                <section>
                    <h1 class="mb-4">Add a Pension</h1>
                    <p>Enter the details of the pension below then press the <strong>Add Pension button</strong> to save
                        the
                        changes:</p>
                    <p><em>All fields must be completed!</em></p>
                    <!-- Add Pension form -->
                    <form action="" method="POST" class="user-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between mt-5">
                            <a href="{% url 'my_pensions' %}"
                                class="btn btn-brand btn-icon btn-card btn-form">Cancel</a>
                            <button class="btn btn-brand btn-icon btn-card btn-form" type="submit">Add Pension</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

{% endblock %}