{% extends "base.html" %}

{% block title %}Success - Pension Added!{% endblock %}

{% block content %}
<!-- success page after Adding a Pension via Pension form -->
<section class="py-5 px-4">
    <!-- container with two rows: breadcrumb navigation + success msg -->
    <div class="container">
        <!-- 1st row: Breadcrumb navigation -->
        <div class="row pt-5">
            <nav aria-label="Breadcrumb navigation">
                <ul class="breadcrumb pt-3">
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_pensions' %}">My Pensions</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'add_pension' %}">Add Pension</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Add Pension Success</li>
                </ul>
            </nav>
        </div>
        <!-- 2nd row: success msg -->
        <div class="row py-3">
            <h1 class="mb-4">Pension Added!</h1>
            <p>The Pension <span class="fw-bold">"{{ pension.scheme_name }}"</span> has been successfully added to your
                <a href="{% url 'my_pensions' %}">My Pensions page</a> and you can view all of your pensions records
                there.</p>
            <p>You can <a href="{% url 'view_pension' pension.id %}">view or edit the record you just added at this
                    link</a>.</p>
            <p>If you need to make any changes to any of your Pension records, you can do this on <a
                    href="{% url 'my_pensions' %}">the My Pensions page</a> also.</p>
            <p>Or, if you added a record in error you can delete Pension records from <a
                    href="{% url 'my_pensions' %}">the My Pensions page</a>.</p>
        </div>
    </div>
</section>
{% endblock %}