{% extends "base.html" %}

{% block title %}Success - Job Added!{% endblock %}

{% block content %}
<!-- success page after Add Job form -->
<section class="py-5 px-4">
    <div class="container">
        <!--Breadcrumb navigation-->
        <div class="row pt-5">
            <nav aria-label="Breadcrumb navigation">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_jobs' %}">My Jobs</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'add_job' %}">Add Job</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Add Job Success</li>
                </ul>
            </nav>
        </div>
        <div class="row py-5">
            <h1 class="mb-4">Job Added!</h1>
            <p>The Job/Employment has been successfully added to your My Jobs page.</p>
            <p>If there is a Pension attached to this Job, then <strong>you should now <a
                        href="{% url 'add_pension' %}">add the Pension details here,</a></strong> or go to <a
                    href="{% url 'my_pensions' %}">the My Pensions page</a> and click the Add Pension button.
            </p>
            <p>Otherwise, you can <a href="{% url 'my_jobs' %}">go to the My Jobs page</a> to view your records.</p>
            <p>If you need to make any changes to this record, or any of your Job records, you can do this on <a
                    href="{% url 'my_jobs' %}">the My Jobs page</a> also.</p>
            <p>Or, if you added a record in error you can delete Job records from <a href="{% url 'my_jobs' %}">the My
                    Jobs page</a>.</p>
        </div>
    </div>
</section>
{% endblock %}