{% extends "base.html" %}

{% block content %}
<!-- hero image and callout -->
<section>
    <div class="hero-image container-fluid">
        <div class="overlay">
            <div class="text-end callout pe-3 pe-sm-0 col-12 col-sm-8 col-lg-6">
                <h1>The easy way to keep track of your pensions as you move through your working life</h1>
                <p><span class="highlight">Your future self will thank you!</span></p>
                <a href="#learn-more" class="btn-lg btn-brand btn-callout">Learn More</a>
            </div>
        </div>
    </div>
</section>
<!-- End of hero image and callout section -->
<!-- overview section (using div as no heading) -->
<div class="home-bg py-5" id="learn-more">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-12 col-md-4 mb-4">
                <div><i class="bi bi-pencil-square intro-icon" aria-hidden="true"></i></div>
                <div class="p-4">Record details of your employment and pension, each time you move jobs.</div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div><i class="bi bi-table intro-icon" aria-hidden="true"></i></div>
                <div class="p-4">Build a complete picture of your pensions and work history over time.</div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div><i class="bi bi-card-checklist intro-icon" aria-hidden="true"></i></div>
                <div class="p-4">Never lose track of where your pensions are, or what pensions you have!</div>
            </div>
        </div>
    </div>
</div>
<!-- End of overview section -->
<!-- explanatory more details section -->
<section>
    <!-- Container - 3 rows - What, Why, How -->
    <div class="container py-5 px-md-4">
        <!-- What section -->
        <div class="row px-4 px-md-5 py-3">
            <h2>What is PensionPal?</h2>
            <p>PensionPal is an online portal where you can record details of your employments along with their
                associated occupational pension scheme. You record the details that will be required when you come to
                draw down the pension benefits at retirement age.</p>
        </div>
        <!-- End of What section -->
        <!-- Why section - two rows -->
        <div class="row px-4 px-md-5 py-3">
            <!-- First row -->
            <div class="row">
                <h2>Why Use PensionPal?</h2>
                <p>PensionPal makes dealing with your pensions as painless as possible. Simply record the relevant
                    details when you leave an employment. This is much easier to do while they are fresh in your mind
                    and the documentation is to hand.</p>
                <p>The records are there when you need them later on, for example at retirement age. No more hunting
                    around for long forgotten documents, everything is there for you in one place, when you need it.</p>
            </div>
            <!-- second row has 3 columns - icon plus text -->
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p class="details-container"><i class="bi bi-files details-icon pe-3"
                            aria-hidden="true"></i><span>All your pension details are in one place, linked to the
                            relevant employment</span></p>
                </div>
                <div class="col-12 col-lg-4">
                    <p class="details-container"><i class="bi bi-alarm details-icon pe-3"
                            aria-hidden="true"></i><span>You won’t forget about any of your pension plans once they're
                            on PensionPal</span></p>
                </div>
                <div class="col-12 col-lg-4">
                    <p class="details-container"><i class="bi bi-graph-up-arrow details-icon pe-3"
                            aria-hidden="true"></i><span>Easier to plan for the future since you can see an overview of
                            all your pensions</span></p>
                </div>
            </div>
        </div>
        <!-- End of Why section -->
        <!-- How section - 3 rows -->
        <div class="row px-4 px-md-5 py-3">
            <!-- First row -->
            <div class="row">
                <h2>How to Use PensionPal?</h2>
                <p>It couldn’t be easier! <a href="{% url 'account_signup' %}">Sign Up for an account</a>, then get
                    started adding your Employments and associated Pensions.</p>
            </div>
            <!-- second row has 3 columns - icon plus text -->
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p class="details-container"><i class="bi bi-check2-circle details-icon pe-3"
                            aria-hidden="true"></i><span>Add the Employment first: from the <a
                                href="{% url 'my_jobs' %}">My Jobs page</a>, click Add Employment</span></p>
                </div>
                <div class="col-12 col-lg-4">
                    <p class="details-container"><i class="bi bi-check2-circle details-icon pe-3"
                            aria-hidden="true"></i><span>You can add an Employment without attaching a Pension to it,
                            since not all jobs have a pension attached</span></p>
                </div>
                <div class="col-12 col-lg-4">
                    <p class="details-container"><i class="bi bi-check2-circle details-icon pe-3"
                            aria-hidden="true"></i><span>To attach a Pension to the Employment, go to the <a
                                href="{% url 'my_pensions' %}">My Pensions page</a> and Add Pension</span></p>
                </div>
            </div>
            <!-- Third row -->
            <div class="row">
                <p>Begin by adding your previous employments and pensions. This may take a bit of time, (which just
                    reinforces the benefit of recording the details as you go!) but recording future pensions will be
                    much easier.</p>
                <p>We recommend recording Employment and Pension details every time you change jobs in order to get
                    full benefit out of the tool.</p>
            </div>
        </div>
        <!-- End of How section -->
    </div>
    <!-- End of What, Why, How container -->
</section>
<!-- End of explanatory more details section -->
{%endblock%}