{% extends "base.html" %}

{% block content %}
<!-- hero image and callout -->
<section>
    <div class="hero-image container-fluid">
    </div>
</section>
<!-- overview section -->
<section class="home-bg py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-4 mb-4">
                <div><i class="bi bi-pencil-square intro-icon" aria-hidden="true"></i></div>
                <div class="p-4">Record details of your employment and pension, each time you move jobs.</div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div><i class="bi bi-table intro-icon" aria-hidden="true"></i></div>
                <div class="p-4">Build a complete picture of your pensions and work history over time.</div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div><i class="bi bi-card-checklist intro-icon" aria-hidden="true"></i></div>
                <div class="p-4">Never lose track of where your pensions are, or what pensions you have!</div>
            </div>
        </div>
    </div>
</section>
<!-- explanatory more details section -->
<section>
    <div class="container py-5">
        <div class="row px-4 px-md-5">
            <h2>What is PensionPal?</h2>
            <p>PensionPal is an online portal where you can record details of your employments along with their
                associated occupational pension scheme. You record the details that will be required when you come to
                draw down the pension benefits at retirement age.</p>
        </div>
        <div class="row px-4 px-md-5">
            <h2>Why Use PensionPal?</h2>
            <ul>
                <li>All your pension details are in one place, linked to the relevant employment</li>
                <li>You won’t forget about any of your pension plans</li>
                <li>Easier to plan for the future</li>
                <li>Simpler to record the relevant details ‘as you go’ e.g. when you leave an employment, while they are
                    fresh in your mind and the documentation is to hand, rather than trying to pull the details together
                    years later</li>
            </ul>
        </div>
        <div class="row px-4 px-md-5">
            <h2>How to Use PensionPal?</h2>
            <p>It couldn’t be easier! <a href="#">Sign Up for an account</a>, then get started adding your Employments
                and associated Pensions.</p>
            <ul>
                <li>Add the Employment first, from the My Jobs page, Add Employment</li>
                <li>You can add an Employment without attaching a Pension to it, since not all jobs have a pension
                    attached</li>
                <li>Next, to attach a Pension to the Employment, go to the My Pensions page and Add Pension</li>
            </ul>
            <p>Begin by adding your previous employments and pensions. This may take a bit of time, (which just
                reinforces the benefit of recording the details as you go!) but recording future pensions will be much
                easier. We recommend recording Employment and Pension details every time you change jobs in order to get
                full benefit out of the tool.</p>
        </div>
    </div>
</section>
{%endblock%}