{% extends "base.html" %}

{% block content %}
<!-- hero image and callout -->
<section>
    <div class="hero-image container-fluid">
    </div>
</section>
<!-- overview section -->
<section class="home-bg py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-4 mb-4">
                <div><i class="bi bi-pencil-square intro-icon" aria-hidden="true"></i></div>
                <div class="p-4">Record details of your employment and pension, each time you move jobs.</div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div><i class="bi bi-table intro-icon" aria-hidden="true"></i></div>
                <div class="p-4">Build a complete picture of your pensions and work history over time.</div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div><i class="bi bi-card-checklist intro-icon" aria-hidden="true"></i></div>
                <div class="p-4">Never lose track of where your pensions are, or what pensions you have!</div>
            </div>
        </div>
    </div>
</section>


{%endblock%}