{% extends "base.html" %}

{% block content %}
<!-- 1st section: explanatory note and Add Pension button - section, container, two rows -->
<section class="home-bg py-5">
    <div class="container py-5 py-md-2 px-4">
        <div class="row pt-5">
            <h2>How it Works</h2>
            <p>Record the details of a Pension attached to a Job, using the Add Pension button below.</p>
            <p>Remember to add the Job/Employment first on the <a href="{% url 'my_jobs' %}">My Jobs page</a>, so that
                you can link the Pension to the Job/Employment.</p>
            <p>Any Pensions you have already added are listed below under Your Pensions.</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-4 pt-3">
                <a href="#" class="btn btn-brand-dark btn-icon"><i class="bi bi-plus icon-btn"
                        aria-hidden="true"></i>Add Pension</a>
            </div>
        </div>
    </div>
</section>
<!-- 2nd section: Details of the Pensions added by the user -->
<section class="py-5 px-4" id="your-jobs">
    <div class="container">
        <div class="row py-3">
            <h1 class="mb-4">Your Pensions</h1>
            <!-- row will contain columns with cards showing pension summary details -->
            <div class="row">
                <p>Pensions added will be shown here</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}