{% extends "base.html" %}

{% block content %}
<!-- 1st section: explanatory note and Add Pension button - section, container, two rows -->
<section class="home-bg py-5">
    <div class="container py-5 py-md-2 px-4">
        <div class="row pt-5">
            <h2>How it Works</h2>
            <p>Record the details of a Pension attached to a Job, using the Add Pension button below.</p>
            <p>Remember to add the Job/Employment first on the <a href="{% url 'my_jobs' %}">My Jobs page</a>, so that
                you can link the Pension to the Job/Employment.</p>
            <p>Any Pensions you have already added are listed below under Your Pensions.</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-4 pt-3">
                <a href="{% url 'add_pension' %}" class="btn btn-brand-dark btn-icon"><i class="bi bi-plus icon-btn"
                        aria-hidden="true"></i>Add Pension</a>
            </div>
        </div>
    </div>
</section>
<!-- 2nd section: Details of the Pensions added by the user -->
<section class="py-5 px-4" id="your-jobs">
    <div class="container">
        <div class="row py-3">
            <h1 class="mb-4">Your Pensions</h1>
            <!-- row containing columns with cards showing pension summary details -->
            <div class="row">   
                {% if pension_list %}
                <!-- if the pension list context is not empty -->
                {% for pension in pension_list %}
                <!-- for each pension passed in from MyPensions ListView, display summary details in a card, with edit and delete buttons -->
                <div class="col-12 col-sm-10 col-md-6 col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title">{{ pension.scheme_name }}</h4>
                            <p class="card-text"><i class="bi bi-building card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Job:</span> {{ pension.employment }}</p>
                            <p class="card-text"><i class="bi bi-piggy-bank card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Value:</span> € {{ pension.value }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <a href="#" class="btn btn-brand btn-icon btn-card"><i class="bi bi-eyeglasses icon-btn-sm"
                                    aria-hidden="true"></i> View Details</a>
                        </div>
                        <div class="card-footer d-flex justify-content-around">
                            <a href="{% url 'edit_pension' pension.id %}" class="btn btn-brand btn-icon btn-card"><i class="bi bi-pencil icon-btn-sm"
                                    aria-hidden="true"></i> Edit</a>
                            <a href="#" data-bs-toggle="modal" class="btn btn-brand btn-icon btn-card"><i class="bi bi-trash icon-btn-sm"
                                    aria-hidden="true"></i> Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <!-- if the pension list context is empty, i.e. user does not have any pensions recorded -->
                <p>You do not currently have any pensions recorded.</p>
                <p><a href="{% url 'add_pension' %}">Get started by adding a pension now</a>, or use the Add Pension button at
                    the top of this page.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}