{% extends "base.html" %}

{% block content %}
<!-- container for page contents -->
<div class="container py-5 px-4">
    <!--Breadcrumb navigation-->
    <div class="row pt-5">
        <nav aria-label="Breadcrumb navigation">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'my_pensions' %}">My Pensions</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">View Pension Details</li>
            </ul>
        </nav>
    </div>
    <!-- row with one column -->
    <div class="row py-5">
        <div class="col-12 mx-auto pt-2">
            <section>
                <!-- Pension details section -->
                <h1 class="mb-4">Pension Details</h1>
                <div class="col-12 px-2 px-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title">{{ pension.scheme_name }}</h4>
                            <p class="card-text"><i class="bi bi-building card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Employment this pension relates to:</span>
                                {{ pension.employment }}</p>
                            <p class="card-text"><i class="bi bi-paperclip card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Policy / scheme number:</span> {{ pension.policy_number }}</p>
                            <p class="card-text"><i class="bi bi-person-fill card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Member number:</span> {{ pension.member_number }}</p>
                            <p class="card-text"><i class="bi bi-calculator-fill card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Pension type:</span> {{ pension.get_pension_type_display }}</p>
                            <p class="card-text"><i class="bi bi-calendar-plus-fill card-icon"
                                    aria-hidden="true"></i><span class="card-label"> Date joined pension scheme:</span>
                                {{ pension.date_joined_scheme }}</p>
                            <p class="card-text"><i class="bi bi-play-btn card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Date of joining service:</span> {{ job.start_date }}</p>
                            <p class="card-text"><i class="bi bi-stop-btn card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Date of leaving service:</span> {{ job.finish_date }}</p>
                            <p class="card-text"><i class="bi bi-cash-coin card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Salary at date of leaving service:</span> {{ pension.salary }}
                            </p>
                            <p class="card-text"><i class="bi bi-exclamation-triangle card-icon"
                                    aria-hidden="true"></i><span class="card-label"> Pension Adjustment Order
                                    (PAO)?:</span> {{ pension.pao }}</p>
                            <p class="card-text"><i class="bi bi-percent card-icon" aria-hidden="true"></i><span
                                    class="card-label"> 20% director in this employment?:</span> {{ pension.director }}
                            </p>
                            <p class="card-text"><i class="bi bi-calendar-week card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Full-time or part-time service:</span>
                                {{ job.get_full_or_part_time_display }}</p>
                            <p class="card-text"><i class="bi bi-bank card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Pension provider:</span> {{ provider.provider_name }}</p>
                            <p class="card-text"><i class="bi bi-link card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Pension provider website:</span> <a
                                    href="{{ provider.website }}" target="_blank"
                                    rel="noopener">{{ provider.website }}</a></p>
                            <p class="card-text"><i class="bi bi-piggy-bank card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Pension value:</span> € {{ pension.value }}</p>
                            <p class="card-text"><i class="bi bi-file-earmark card-icon" aria-hidden="true"></i>
                                <span class="card-label"> View file:</span>
                                {% if pension.file %}
                                <a href="{{ pension.file.url }}">{{ pension.file }}</a>
                                {% else %}
                                <span>No file uploaded</span>
                                {% endif %}
                            </p>
                            <p class="card-text"><i class="bi bi-chat-left-text card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Your notes:</span> {{ pension.notes }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-around">
                            <a href="{% url 'edit_pension' pension.id %}" class="btn btn-brand btn-icon btn-card"><i
                                    class="bi bi-pencil icon-btn-sm" aria-hidden="true"></i> Edit</a>
                            <a href="#" data-bs-toggle="modal" class="btn btn-brand btn-icon btn-card"><i
                                    class="bi bi-trash icon-btn-sm" aria-hidden="true"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}