{% extends "base.html" %}

{% block title %}Pension Details{% endblock %}

{% block content %}
<!-- container for page contents with two rows - breadcrumb navigation + pension details -->
<div class="container py-5 px-4">
    <!-- 1st row: Breadcrumb navigation -->
    <div class="row pt-5">
        <nav aria-label="Breadcrumb navigation">
            <ul class="breadcrumb pt-3">
                <li class="breadcrumb-item">
                    <a href="{% url 'my_pensions' %}">My Pensions</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">View Pension Details</li>
            </ul>
            <!--No href as link is determined by function in script.js to go back to last page in history-->
            <a href="#" class="breadcrumb-item d-inline-block mt-2 mt-md-3" id="go-back">&larr; Back to previous
                page</a>
        </nav>
    </div>
    <!-- 2nd row with one column, containing the pension details and delete modal -->
    <div class="row py-5">
        <div class="col-12 mx-auto pt-2 px-lg-5">
            <section>
                <!-- Pension details section -->
                <h1 class="mb-4">Pension Details</h1>
                <p>You can amend any of Pension details using the Edit button at the bottom of this page.</p>
                <p>If you need to amend any of the associated Job details (Employer name, date of joining service, date
                    of leaving service, full or part time service), <a href="{% url 'edit_job' job.id %}">you can edit
                        the job details here</a>, or go to the Edit button on that Job record on <a
                        href="{% url 'my_jobs' %}">the My Jobs page</a>.</p>
                <!-- Column containing card with pension details -->
                <div class="col-12 px-2 px-md-4">
                    <!--Card showing pension details: title (scheme name), then a div for each item, div is flex container for label and value-->
                    <div class="card mb-4 mx-md-3 mx-lg-5">
                        <div class="card-body px-md-5 my-2">
                            <h4 class="card-title">{{ pension.scheme_name }}</h4>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-building card-icon" aria-hidden="true"></i> Employment this pension
                                    relates to:</p>
                                <p class="mb-1 mb-md-0 d-md-inline"> {{ pension.employment }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-paperclip card-icon" aria-hidden="true"></i> Policy / scheme
                                    number:</p>
                                <p class="mb-1 mb-md-0 d-md-inline"> {{ pension.policy_number }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-person-fill card-icon" aria-hidden="true"></i> Member number:</p>
                                <p class="mb-1 mb-md-0 d-md-inline">
                                    {% if pension.member_number %}
                                    <span>{{ pension.member_number }}</span>
                                    {% else %}
                                    <span class="fst-italic fw-lighter">Not recorded. Use the Edit button below to
                                        update.</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-calculator-fill card-icon" aria-hidden="true"></i> Pension type:
                                </p>
                                <p class="mb-1 mb-md-0 d-md-inline">{{ pension.get_pension_type_display }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-calendar-plus-fill card-icon" aria-hidden="true"></i> Date joined
                                    pension scheme:</p>
                                <p class="mb-1 mb-md-0 d-md-inline">{{ pension.date_joined_scheme }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-play-btn card-icon" aria-hidden="true"></i> Date of joining
                                    service:</p>
                                <p class="mb-1 mb-md-0 d-md-inline">{{ job.start_date }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-stop-btn card-icon" aria-hidden="true"></i> Date of leaving
                                    service:</p>
                                <p class="mb-1 mb-md-0 d-md-inline">{{ job.finish_date }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-cash-coin card-icon" aria-hidden="true"></i> Salary at date of
                                    leaving service:</p>
                                <p class="mb-1 mb-md-0 d-md-inline">€ {{ pension.salary }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-exclamation-triangle card-icon" aria-hidden="true"></i> Pension
                                    Adjustment Order (PAO)?</p>
                                <p class="mb-1 mb-md-0 d-md-inline">{{ pension.pao|yesno:"Yes,No" }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-percent card-icon" aria-hidden="true"></i> 20% director in this
                                    employment?</p>
                                <p class="mb-1 mb-md-0 d-md-inline">{{ pension.director|yesno:"Yes,No" }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-calendar-week card-icon" aria-hidden="true"></i>Full-time or
                                    part-time service:</p>
                                <p class="mb-1 mb-md-0 d-md-inline">{{ job.get_full_or_part_time_display }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i class="bi bi-bank card-icon"
                                        aria-hidden="true"></i> Pension provider:</p>
                                <p class="mb-1 mb-md-0 d-md-inline">{{ provider.provider_name }}</p>
                                {% if provider.status == 1 %}
                                <!--Add a note if the pension provider is no longer active-->
                                <p class="w-100 mb-1 mb-md-0 mt-1 helptext">Note: This provider is no longer active. You
                                    can update to the new pension provider using the Edit button at the bottom of this
                                    page.</p>
                                {% endif %}
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i class="bi bi-link card-icon"
                                        aria-hidden="true"></i> Pension provider website:</p>
                                <p class="mb-1 mb-md-0 d-md-inline"><a href="{{ provider.website }}" target="_blank"
                                        rel="noopener">{{ provider.website }}</a></p>
                                {% if provider.status == 1 %}
                                <!--Add a note if the pension provider is no longer active-->
                                <p class="w-100 mb-1 mb-md-0 mt-1 helptext">Note: This provider is no longer active, so
                                    this website address might not be valid. You can update to the new pension provider
                                    using the Edit button at the bottom of this page.</p>
                                {% endif %}
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-piggy-bank card-icon" aria-hidden="true"></i> Pension value:</p>
                                <p class="mb-1 mb-md-0 d-md-inline">€ {{ pension.value }}</p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-file-earmark card-icon" aria-hidden="true"></i> View file:</p>
                                <p class="mb-1 mb-md-0 d-md-inline">
                                    {% if pension.file %}
                                    <a href="{{ pension.file.url }}" target="_blank"
                                        rel="noopener">{{ pension.file }}</a> (Opens in a new tab)
                                    {% else %}
                                    <span class="fst-italic fw-lighter">No file uploaded. Use the Edit button below to
                                        add a file.</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="mb-2 mb-md-3 d-flex flex-column flex-md-row flex-wrap">
                                <p class="card-text card-label mb-1 mb-md-0 d-md-inline"><i
                                        class="bi bi-chat-left-text card-icon" aria-hidden="true"></i>Your notes:</p>
                                <p class="mb-1 mb-md-0 d-md-inline">
                                    {% if pension.notes %}
                                    <span>{{ pension.notes }}</span>
                                    {% else %}
                                    <span class="fst-italic fw-lighter">No notes recorded. Use the Edit button below to
                                        add notes.</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <!-- End of card body displaying pension details -->
                        <!-- Card footer with edit and delete buttons -->
                        <div class="card-footer d-flex justify-content-around mb-4">
                            <a href="{% url 'edit_pension' pension.id %}" class="btn btn-brand btn-icon btn-card"><i
                                    class="bi bi-pencil icon-btn-sm" aria-hidden="true"></i> Edit</a>
                            <a href="#deleteModal{{ pension.id }}" data-bs-toggle="modal"
                                class="btn btn-brand btn-icon btn-card"><i class="bi bi-trash icon-btn-sm"
                                    aria-hidden="true"></i> Delete</a>
                        </div>
                        <!-- end of card footer -->
                    </div>
                    <!-- End of the card with the pension details -->
                </div>
                <!-- Delete Pension modal, with button to confirm deletion and submit form, or Cancel to cancel -->
                <div class="modal fade" id="deleteModal{{ pension.id }}" tabindex="-1"
                    aria-labelledby="deletePensionModalPension{{ pension.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Delete Pension modal header, with Close button to close the modal -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="deletePensionModalPension{{ pension.id }}">Delete Pension
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close delete pension pop up and go back to My Pensions page"></button>
                            </div>
                            <!-- Delete Pension modal body, with pension details that will be deleted -->
                            <div class="modal-body">
                                <p><strong>Are you sure you want to permanently delete this pension record?</strong></p>
                                <div class="modal-details">
                                    <p><span class="card-label">Scheme name:</span> {{pension.scheme_name}}</p>
                                    <p><span class="card-label">Policy/scheme number:</span> {{pension.policy_number}}
                                    </p>
                                    <p><span class="card-label">Pension type:</span>
                                        {{pension.get_pension_type_display}}</p>
                                    <p><span class="card-label">Employment name:</span> {{pension.employment}}</p>
                                </div>
                                <p>The pension will no longer appear in your My Pensions page.</p>
                                <p><strong>This action cannot be undone.</strong></p>
                                <p>If you are sure you want to delete the pension, then press Delete Pension below.
                                    Otherwise, Cancel to go back.</p>
                            </div>
                            <!-- Delete Pension modal footer, with button to cancel, and form with button to submit deletion request -->
                            <div class="modal-footer d-flex justify-content-around">
                                <button type="button" class="btn btn-brand btn-icon btn-secondary mb-2 w-50"
                                    data-bs-dismiss="modal"><i class="bi bi-x-circle icon-btn-sm"
                                        aria-hidden="true"></i>Cancel</button>
                                <form class="d-inline" action="{% url 'delete_pension' pension.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" value="{{ pension.id }}" name="pension_id"
                                        class="btn btn-brand btn-icon mb-2"><i class="bi bi-trash icon-btn-sm"
                                            aria-hidden="true"></i>Delete Pension</button>
                                </form>
                            </div>
                            <!-- End of footer on delete pension modal -->
                        </div>
                        <!-- End of modal content div -->
                    </div>
                    <!-- End of modal dialog div -->
                </div>
                <!-- end of Delete Pension modal -->
            </section>
        </div>
    </div>
    <!-- End of second row with pension details and delete modal-->
</div>

{% endblock %}