{% extends "base.html" %}

{% block title %}Pension Details{% endblock %}

{% block content %}
<!-- container for page contents -->
<div class="container py-5 px-4">
    <!--Breadcrumb navigation-->
    <div class="row pt-5">
        <nav aria-label="Breadcrumb navigation">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'my_pensions' %}">My Pensions</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">View Pension Details</li>
            </ul>
        </nav>
    </div>
    <!-- row with one column -->
    <div class="row py-5">
        <div class="col-12 mx-auto pt-2 px-lg-5">
            <section>
                <!-- Pension details section -->
                <h1 class="mb-4">Pension Details</h1>
                <p>You can amend any of Pension details using the Edit button at the bottom of this page.</p>
                <p>To amend the associated Job details (Employer name, date of joining service, date of leaving
                    service, full or part time service), use the Edit button on that Job record on <a
                        href="{% url 'my_jobs' %}">the My Jobs page</a>.</p>
                <div class="col-12 px-2 px-md-4">
                    <div class="card mb-4 mx-md-3 mx-lg-5">
                        <div class="card-body px-md-5 my-2">
                            <h4 class="card-title">{{ pension.scheme_name }}</h4>
                            <p class="card-text"><i class="bi bi-building card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Employment this pension relates to:</span>
                                {{ pension.employment }}</p>
                            <p class="card-text"><i class="bi bi-paperclip card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Policy / scheme number:</span> {{ pension.policy_number }}</p>
                            <p class="card-text"><i class="bi bi-person-fill card-icon" aria-hidden="true"></i>
                                <span class="card-label"> Member number:</span>
                                {% if pension.member_number %}
                                <span>{{ pension.member_number }}</span>
                                {% else %}
                                <span class="fst-italic fw-lighter">Not recorded. Use the Edit button below to
                                    update.</span>
                                {% endif %}
                            </p>
                            <p class="card-text"><i class="bi bi-calculator-fill card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Pension type:</span> {{ pension.get_pension_type_display }}</p>
                            <p class="card-text"><i class="bi bi-calendar-plus-fill card-icon"
                                    aria-hidden="true"></i><span class="card-label"> Date joined pension scheme:</span>
                                {{ pension.date_joined_scheme }}</p>
                            <p class="card-text"><i class="bi bi-play-btn card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Date of joining service:</span> {{ job.start_date }}</p>
                            <p class="card-text"><i class="bi bi-stop-btn card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Date of leaving service:</span> {{ job.finish_date }}</p>
                            <p class="card-text"><i class="bi bi-cash-coin card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Salary at date of leaving service:</span> € {{ pension.salary }}
                            </p>
                            <p class="card-text"><i class="bi bi-exclamation-triangle card-icon"
                                    aria-hidden="true"></i><span class="card-label"> Pension Adjustment Order
                                    (PAO)?:</span> {{ pension.pao|yesno:"Yes,No" }}</p>
                            <p class="card-text"><i class="bi bi-percent card-icon" aria-hidden="true"></i><span
                                    class="card-label"> 20% director in this employment?:</span> {{ pension.director|yesno:"Yes,No" }}
                            </p>
                            <p class="card-text"><i class="bi bi-calendar-week card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Full-time or part-time service:</span>
                                {{ job.get_full_or_part_time_display }}</p>
                            <p class="card-text"><i class="bi bi-bank card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Pension provider:</span> {{ provider.provider_name }}</p>
                            <p class="card-text"><i class="bi bi-link card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Pension provider website:</span> <a
                                    href="{{ provider.website }}" target="_blank"
                                    rel="noopener">{{ provider.website }}</a></p>
                            <p class="card-text"><i class="bi bi-piggy-bank card-icon" aria-hidden="true"></i><span
                                    class="card-label"> Pension value:</span> € {{ pension.value }}</p>
                            <p class="card-text"><i class="bi bi-file-earmark card-icon" aria-hidden="true"></i>
                                <span class="card-label"> View file:</span>
                                {% if pension.file %}
                                <a href="{{ pension.file.url }}">{{ pension.file }}</a>
                                {% else %}
                                <span class="fst-italic fw-lighter">No file uploaded. Use the Edit button below to add a
                                    file.</span>
                                {% endif %}
                            </p>
                            <p class="card-text"><i class="bi bi-chat-left-text card-icon" aria-hidden="true"></i>
                                <span class="card-label"> Your notes:</span>
                                {% if pension.notes %}
                                <span>{{ pension.notes }}</span>
                                {% else %}
                                <span class="fst-italic fw-lighter">No notes recorded. Use the Edit button below to add
                                    notes.</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-around mb-4">
                            <a href="{% url 'edit_pension' pension.id %}" class="btn btn-brand btn-icon btn-card"><i
                                    class="bi bi-pencil icon-btn-sm" aria-hidden="true"></i> Edit</a>
                            <a href="#deleteModal{{ pension.id }}" data-bs-toggle="modal"
                                class="btn btn-brand btn-icon btn-card"><i class="bi bi-trash icon-btn-sm"
                                    aria-hidden="true"></i> Delete</a>
                        </div>
                    </div>
                </div>
                <!-- Delete Pension modal, with button to confirm deletion and submit form, or Cancel to cancel -->
                <div class="modal fade" id="deleteModal{{ pension.id }}" tabindex="-1"
                    aria-labelledby="deletePensionModalPension{{ pension.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Delete Pension modal header, with Close button to close the modal -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="deletePensionModalPension{{ pension.id }}">Delete Pension
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close delete pension pop up and go back to My Pensions page"></button>
                            </div>
                            <!-- Delete Pension modal body, with pension details that will be deleted -->
                            <div class="modal-body">
                                <p><strong>Are you sure you want to permanently delete this pension record?</strong></p>
                                <div class="modal-details">
                                    <p><span class="card-label">Scheme name:</span> {{pension.scheme_name}}</p>
                                    <p><span class="card-label">Policy/scheme number:</span> {{pension.policy_number}}
                                    </p>
                                    <p><span class="card-label">Pension type:</span>
                                        {{pension.get_pension_type_display}}</p>
                                    <p><span class="card-label">Employment name:</span> {{pension.employment}}</p>
                                </div>
                                <p>The pension will no longer appear in your My Pensions page.</p>
                                <p><strong>This action cannot be undone.</strong></p>
                                <p>If you are sure you want to delete the pension, then press Delete Pension below.
                                    Otherwise, Cancel to go back.</p>
                            </div>
                            <!-- Delete Pension modal footer, with button to cancel, and form with button to submit deletion request -->
                            <div class="modal-footer d-flex justify-content-around">
                                <button type="button" class="btn btn-brand btn-icon btn-secondary mb-2 w-50"
                                    data-bs-dismiss="modal"><i class="bi bi-x-circle icon-btn-sm"
                                        aria-hidden="true"></i>Cancel</button>
                                <form class="d-inline" action="{% url 'delete_pension' pension.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" value="{{ pension.id }}" name="pension_id"
                                        class="btn btn-brand btn-icon mb-2"><i class="bi bi-trash icon-btn-sm"
                                            aria-hidden="true"></i>Delete Pension</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of Delete Pension modal -->
            </section>
        </div>
    </div>
</div>

{% endblock %}